@keyframes menuJ {
    from{
        top: -64rem;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
@keyframes menuJOut {
    from{
        top: 0rem;
        opacity: 1;
    }
    to{
        top: -64rem;
        opacity: 0;
    }
}

@keyframes menuE {
    from{
        top: -52rem;
        opacity: 0;
    }
    to{
        top: 0rem;
        opacity: 1;
    }
}

@keyframes menuEOut {
    from{
        top: 0rem;
        opacity: 1;
    }
    to{
        top: -52rem;
        opacity: 0;
    }
}

@keyframes loginAn {
    from{
        opacity: 0;
        

        
    }
    to{
        opacity: 1;
        
    }
}

@keyframes logoutAn {
    from{
        opacity: 1;
    
    }
    to{
        opacity: 0;
    }
}

@keyframes loginContentAn {
    from{
        opacity: 0;
        top: 8rem;

        
    }
    to{
        opacity: 1;
        top: 0rem;
    }
}
@keyframes logoutContentAn {
    from{
        opacity: 1;
        top: 0rem;
    }
    to{
        opacity: 0;
        top: 8rem;
    }
}

@keyframes progress {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
    
}